.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  margin-left: 600px;
}

.App {
  text-align: center;
}

.counter {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
